		body {
			
			padding: 0;
			font-family: helvetica;
			margin: 0;
			font-size: 12px;
			height: 100%;
			width: 100%;
			background: #FFFFFF;
		}
	
				
		.hidden {
			display: none;
		}
		
		.answer { 
		  display: none;
			margin-left: 20px;
		}
		
		#navContainer a.active, #navContainer a.active:hover, #breadcrumb p a.active, #breadcrumb p a.active:hover {
			color: #b3b3b3 !important;
			cursor: default !important;
		}
		
		#page li {
			margin-bottom: 10px;
			list-style-type: square;	
		}
		
		#page ul.ui-tabs-nav li {
			list-style-type: none; 
		}
		
		#page p {
			font-size: 12px;
			margin: 0px 0px 12px 16px;
			line-height: 180%;
		}
		
		#container {
			margin: 5px auto 0px auto;
			width: 900px;
			background: #FFFFFF url('sidebar.png') repeat-y top left;
			-webkit-border-bottom-left-radius: 10px;
			-webkit-border-top-right-radius: 10px;
			-moz-border-radius-bottomleft: 10px;
			-moz-border-radius-topright: 10px;
		}
		
		#logo {
			margin-left: 0px;
			padding-left: 38px;
			top: 0px;
			height: 126px;
			float: left;
			width: 513px;
			background: white url('hplogo.png') no-repeat 38px 0px;
		}
		
		#logo a {
			height: 126px;
			width: 513px;
			display: block;
		}
		
		#sidebar {
			float: left;
			width: 201px;
			height: 100%;
			padding: 0;
			margin-top: -47px;
		}
		
		#sidebar-head {
		background: url('curvy.png') no-repeat 0px -4px;
		height: 40px;
		margin-bottom: 0;
		margin-top: -2px;
		}
		
		#sidebar-body {
			background:#348FA8;		
			height: 100%;
			margin-top: -20px;
		}
		
		h1 { 
		    display: block; 
		    margin: 6px 0 10px 0; 
				font-size: 24px;
				font-weight:bold;
				line-height: 36px;
				color: #ABCC49;
		} 

		h2 { 
		    display: block; 
		    font-size: 18px; 
				margin: 20px 0 6px 0; 
		    font-weight: bold;
		} 
		
		#page h2 {
			text-transform: uppercase;
			color: #999999;
			margin-bottom: 4px;
		}
		
		#page h2 small {
			font-size: 12px;
		}
		
		h1 span.note, h2 span.note {
			color: #666666;
			text-transform: uppercase;
			font-size: 12px;
		}

		h3 { 
		    display: block; 
		    font-size: 14px; 
		    margin: 10px 0 0px 0;
		    font-weight: bold;
		} 
		
		h4 {
	    display: block; 
	    font-size: 10px; 
	    margin: 0 0 10px 0;
	    font-weight: bold;					
		}

		h5 { 
		    display: block; 
		    font-size: 10px; 
		    margin: 0 0 10px 0;
				font-weight: normal;
		} 

		h6 { 
		    display: block; 
		    font-size: 10px; 
		    margin: 0 0 10px 0;
		    font-weight: bold;
		}		
		
		td h4, td h5 {
			margin: 0;
			font-size: 14px;
		}
		
		#page {
			float: left;
			margin: 0;
			position: relative;
			width: 660px;
			padding:  0 0 0 20px;
			line-height: 18px;
		}
		
		.col_2 {
		width: 325px;
		margin: 0 0 10px 0;
		float: left;
		}
		
		.col_2.right {
			margin-left: 10px;	
			float: left !important;
			margin-right: 0px;
		}
		
		.col_2 p {
			margin: 0 !important;
		}

		#infobar {
			float: left;
			margin: -27px 0px 10px 22px;
			width: 658px;
			padding: 0 0 11px 0;
			border-bottom: solid 1px #348FA8;
		}
		
		#breadcrumb {
			font-family: verdana;
		}
		
		#breadcrumb p {
			color: #888888 !important;

		}
		
		#breadcrumb p span {
			color: #aaaaaa;
		}
		
		#breadcrumb p a {
			color: #FF2E4D !important;
			text-decoration: none;
		}
		
		#breadcrumb p a:hover {
			color: #ff97a7 !important;
		}
		
		#infobar #breadcrumb {
			float: left;
			margin: 0px 0 0 0;
			z-index: -2;
		}
		
		#infobar #tools {
			float: right;
			display: none;
		}
		
		#footer {
			text-align: center;
			padding: 0;
			width: 710px;
			float: left;
			margin-left: 201px;
		}
		
		#subfooter {
			width: 900px;
			margin: 0 auto;
		}
		
		#subfooter a {
			color: #348FA8; 
		}
		
		#subfooter a:hover {
			color: #9ac8d4; 
		}
		
		#subfooter p {
			font-size: 12px;
			color: #555555;
			margin-bottom: 14px;
		}
		
		.footer-column {
			width: 300px;
			float: left;
			height: 300px;
			margin: 0;
			padding: 0;
			border: 0;
		}
		
		.footer-column .content {
			padding: 10px;
		}
		
		#footer-links a {
			color: 000000;
		}
		
		
		
		#footer-links {
			width: 699px;
			line-height: 100%;
			margin: 0 0 0px 0;
			background: #EAB200;
			float: left;
			padding: 0px;
			height: 24px;
			text-align: center;

		}
		
		#footer-links a {
			padding: 2px 5px 2px;
			font-family: tahoma;
			font-size: 12px;
			letter-spacing: 0px;
			text-decoration: none;
			float: left;
			margin: 2px 2px 0px;
			color: #333333;
		}
		
		#footer-links a:hover {
			background: #f5d980;
		}
		
		#footer-links a.active {
			cursor: default;
			background: #f5d980;
		}
		
		#footer-links div {
			width: 300px;
			text-align: center;
			margin: auto;
			height: 10px;
			padding: 0;
		}
		
		p.copyright {
			line-height: 130%;
			color: #666666;
			font-family: tahoma;
			font-size: 10px;
			margin-bottom: 0;
		}
		
		#sidebar-body {
			color: #EFEFEF;
			padding: 5px 10px;
			font-size: 12px;
		}
		
		#sidebar a, #sidebar span.parent-section {
			color: #e1eef2;
			margin: 0px 5px 10px 5px;
			line-height: 100%;
			text-decoration: none;
		}
		
		#sidebar span.parent-section {
			font-style: italic;
			cursor: default;
		}
	
		#sidebar a:hover {
			color: #a3ccd8;
		}
	
		#sidebar h2 {
			margin-top: 12px;
			border-bottom: solid 1px #d6e9ee;
			border-bottom: solid 1px #FFFFFF;
			width: 180px;
			letter-spacing: 0px;
		}
		
		#sidebar div {
				margin-bottom: 20px;
		}
		
		.frame {
			text-align: center;
			padding: 9px;
			border: solid 1px #adadad;
			background: #eaeaea;
			margin-bottom: 10px;
		}
		
		.frame img {
			border: solid 1px #adadad;
		}
		
		#sidebar #searchContainer {
				margin-top: -30px;
				display: block;
				margin-bottom: 40px;
		}
		
		#sidebar #navContainer {
				margin-top: -20px;
		}
		
		#page .frame p {
			margin: 4px 0 0 0;
			color: #333333;
			padding: 0px 0px;
			text-align: right;
		}
		
		#page p.caption {
			text-align: right;
			line-height: 12px;
			font-size: 9px;
		}
		
		.right {
			float: right;
			margin-left: 10px;
			margin-right: 2px;
		}
		
		img.right {
			margin-left: 0px;
		}
		
		.left, .lefty {
			float: left;
			margin-right: 10px;
		}
		
		p#different {
			background: #9ac8d4;
			margin: 10px;
			text-align: center;
			-webkit-border-radius: 10px;	
			-mox-border-radius: 10px;
		}
		
		p#different a {
			color: #348FA8;
			font-weight: bold;
			width: 100%;
			display: block;
			height: 36px;
			padding-top: 3px;
			padding-bottom: 5px;
			margin: 0;
		}
		
		p#different a:hover {
			color: #153943;
			background: #67abbe;
			-webkit-border-radius: 10px;			
			-moz-border-radius: 10px;
		}
		
		.menu {
			display: none;
		}
		
		ul, ol {
			margin-top: 10px;
			margin-left: 30px;
		}
		
		.nobg tbody tr td {
			background: #EAEAEA !important;
			color: #333333;
		}
		
		.gehMenu ul {
				margin: 3px;
				padding: 0px;
				text-indent: 0;
				height: 18px;
/*			border: solid 1px #f9e8b3;*/
		}
		
		.menuContainer {
			background: #f5d980;
			font-family: tahoma;
			font-size: 11px;
			font-weight: normal;
			line-height: 150%;
			cursor: pointer;
		}
		
		.menuContainer a.sub {
			text-indent: 10px;
		}
		
		.menuContainer a.sub:before {
			content: "» ";
		}	
	
		div.menuDiv .menuhide {
			display: none;
		}
	
		form input.button {
		font-size: 10px;
		padding: 1px 0 0 0;
		width: auto !important;
		margin: 0px 5px;
		}
		
		
		#dryden .listing img.lefty {
			padding: 12px;
		}
		
		.listing {
			padding: 0 5px 10px;
			border-bottom: dashed 1px #adadad;
			margin-bottom: 10px;
		}
		
		.page-event-listing .listing {
			border-bottom: none;
		}
		
		.listing h3{
			font-size: 16px;
			color: navy;
			margin: 0px 0px 5px;
		}
		
		.listing h3 a {
					color: #F54985;
		}
		
		.listing h5 {
			font-size: 11px;
			font-weight: bold;
			margin-top: -3px;
			margin-left: 10px;
			color: #666666;
		}		
		
		#page .press-release-listing p {
			margin-bottom: 0px;
		}
		
		.menuContainer table tbody tr td a {
			color: #000000;
			width: 158px;
			padding: 3px 3px 3px 10px;
			float: left;
			text-decoration: none;
			overflow: hidden;
		}
		
		.menuContainer table tbody tr td a.active {
			background: #888888 !important;
			color: #888888;
		}
		
		body a.active, body a.active:hover {
			color: #adadad;
			cursor: default !important;
			text-decoration: none;
		}
		
		.menuContainer table tbody tr td a:hover {
			background: #f1ca4d;
		}
		
		.menuContainer table tbody tr td ul {
			display: none;
		}
		
		.gehMenu li a, .gehMenu li a:hover {
			color: 000000;;
		}
		
		.gehMenu li {
				margin: 0px;
				width: auto;
				float: left;
				display: block;
				font-family: tahoma, sans-serif;
				word-spacing: 0px;
				font-size: 11px;
				font-weight: normal;
				padding: 4px 11px;
				letter-spacing: 0;
				line-height: 100%;
				cursor: pointer;
		}
		

		.gehMenu .selected{
				background: #f5d980;
		}
		
		.gehMenu .selected:hover {
				background: #f1ca4d;
		}
		
		.gehMenu {
			margin-top: -135px;
			margin-left: 0;
			line-height: 100%;
			background: #EAB200;
			float: right; 
			width: 610px;
		}
		
		table.days, table.hours, table.map, table.tours { 
		  border: solid 1px #348FA8 !important;
			width: 325px;
		}
		
		table.full {
			width: 658px;
			border: solid 1px #348FA8;
		}
		
		table.membership tbody tr td {
			text-align: center;
			border-left: solid 1px #aeaeae;
		}
		
		table.membership thead tr td {
			text-align: center;
		}
		
		#page table.membership tr.odd td {
			background: #ffffff;
			border: solid 1px 348FA8 !important;
		}
		
		#page table.membership tr.oddOverride td {
		  background: #cce3e9;
		}		

		#page table.membership tr td.callout {
			background: #EAB200;
			text-align: left;
		}
		
		table.membership {
			border-color: 348FA8;
			table-layout: fixed;
		}
		
		table.membership tbody tr td {
			border: solid 1px #adadad;
		}
		
		table.membership tbody tr#levels td.x {
		width: 40px;
		line-height: 0;
		padding: 0;
		height: 70px;
		}
		
		#page table tr td.label, #page table.membership tr td.label {
			text-align: left;
			font-size: 11px;
			line-height: 120%;
			padding: 2px;
			border-left: solid 1px #348FA8 !important;
		}
		
		table tr.small td {
			font-size: 10px !important;
		}
		
		table tr.bold td {
			font-weight: bold;
			padding: 0px;
			height: 20px !important;
			border-bottom: solid 1px #adadad;
		}
		
		table.full tr.verticalCenter td {
			vertical-align: middle;
		}
		
		table.full tr.verticalBottom td {
			vertical-align: bottom;
		}
		

		table.tours {
			margin-bottom: 13px;
		}
		
		em.callout {
			font-weight: bold;
			color: #FF2E4D !important;
			font-style: normal;
			margin: 3px;
		}
		
		td#member-callout {
			text-align: center;
			padding-bottom: 4px !important;
		}
		
		em.supersize {
			font-size: 14px !important;
			margin-bottom: 0px;
		}
		
		
		.col10, .col11, .col12  {
			background: #dddddd !important;
		}
		
		#page table.altColor {
			border: solid 1px #F54985;
		}
		
		#page table.altColor thead tr td {
			background: #F54985;
		}
		
		#page table.altColor2 {
			border: solid 1px #ABCC49;
		}
		
		#page table.nostripes.full.membership tbody tr td {
			border: solid 1px #adadad;
		}
		
		#page table.altColor2 thead tr td {
			background: #ABCC49;
		}		
		
		#page table.altColor3 {
			border: solid 1px #F54985;
		}
		
		#page table.altColor3 thead tr td {
			background: #F54985;
		}
		
		#page table.altColor4 {
			border: solid 1px #5736F7;
		}
		
		#page table.altColor4 thead tr td {
			background: #5736F7;
		}
		
		#page table.map tbody tr td p {
			margin: 0 2px 2px 2px;
		}
		
		table.map {
			width: 658px !important;
		}
		
		#page table.map tr.odd td {
			background: #ffffff !important;
		}

		#page table.membership tr.odd td {
			background: inherit;
		}

		div.clear {
			clear: both;
			height: 0;
		}
		
		#page table tbody tr td.no-padding {
			padding: 0;
		}
		
		#page table tbody tr.odd td{
		  background: #cce3e9;
		}
		
		#page table thead tr td, #page table thead tr th {
			background: #348FA8;
			color: white;
		  font-size: 13px;
		  font-weight: bold;
		}
		
		#page #datepicker table tr td, #page #datepicker table tr th {
			background: inherit;
			color: inherit;
			font-size: inherit;
			font-weight: inherit;
		}
		
		#page table tr td {
		  padding: 5px;
		  font-size: 12px;
			line-height: 20px;
		}		

		#page #datepicker table tr td {
			padding: inherit;
			font-size: inerhit;
			line-height: inherit;
		}

		table.stripes tr.odd {
		  background: #efefef;
		}


		td.day { 
			width: 60%;
		  font-weight: bold;
		}



		
		form.styled input 
		{
			float: left;
			width: 180px;
		}


		form.styled input.box {
			width: auto !important;
			margin: 5px 6px 3px 0;
		}
		
		form.styled textarea 
		{
			display: block;
			width: 360px;
			height: 60px;
			float: left;
			margin-bottom: 14px;
		}

		form.styled br 
		{
			clear: left;
		}

		form.styled label.inline{
			display: inline;
			font-weight: bold;
			color: #000000;;
			margin: 0;
			padding: 0;
			float: none;
		}

		form.styled label, p label 
		{
			color: #000000;;
			padding-top: 3px;
			display: block;
			float: left;
			text-align: left;
			width: 140px;
			padding-left: 20px;
			height: 12px;
			margin-bottom: 20px;
			font-weight: bold;
		}

		.multi {
			margin-bottom: 4px;
		}

		form.styled label em {
			color: #FF2E4D;
			font-style: normal;
			font-weight: bold;
			margin-right: -8px;
		}

		form.styled .indent 
		{
			margin-left: 160px;
		}

		form.styled .error {
			margin-left: 4px;
			margin-top: 5px;	
			font-size: 9pt;
			font-style: oblique;
			color: #FF2E4D;;
			}

		form.styled .lab {
			color: #FF2E4D;;
			font-style: normal;
			font-size: 1.3em;
			font-weight: bold;
		}

		#help1, #help2, #help3, #help4, #help5 {
		font-size: 10px;
		margin-top: 4px;
		}

		form.styled .page {
			padding: 20px;	
			margin: 20px auto;
			width: 770px;
			color: navy;
			background: #fafafa;
			}

		form.styled .step {
			color: #348FA8;
			font-size: 9px;
			font-weight: bold;
		}		
		
		.clear {
			overflow: hidden;
		}

		a {
			color: #348FA8		}
		
		a:hover {
			color: #90c2cf;
			text-decoration: underline;
		}
		
		a.button {
		    background: transparent url(/media/button/bg_button_a.png) no-repeat scroll top right;
		    color: #444;
		    display: block;
		    float: left;
		    font: normal 10px tahoma, sans-serif;
				height: 24px;
		    margin-right: 6px;
		    padding-right: 18px;
		    margin-bottom: 6px;
		    text-decoration: none;
		}
		
		a.button.disabled {
				color: #888;
				cursor: default;
		}
		
		div.centerbutton {
			margin-left: 22%;
		}
		
		div.centerbutton a {
			width: 64%;
			margin: 5px 0;
		}
		
		a.button.center span {
			text-align: center;
		}
		
		a.button span {
		    background: transparent url(/media/button/bg_button_span.png) no-repeat;
		    display: block;
		    text-align: center;
		    line-height: 14px;
		    padding: 5px 0 5px 18px;
		}

		a.button:active, a.button:hover {
		    background-position: bottom right;
		    color: #000;
		    outline: none;
		}
		
		a.button:active span, a.button:hover span {
		    background-position: bottom left;
		    padding: 6px 0 4px 18px;
		}
		
		a.button.disabled:active, a.button.disabled:hover {
				background-position: top right;
				color: #888;
				outline: none;
		}

		a.button.disabled:active span, a.button.disabled:hover span {
				background-position: top left;
				padding: 5px 0 5px 18px;
		}
		
		div.wide {
			margin-bottom: 12px;
		}
		
		#page div.attention {
			border: solid 1px #adadad;
			background: #eaeaea;
		}
		
		#page div.attention p {
		text-align: right;
			margin: 0;
			padding: 5px;
		}
		
		#page div.wide p {
			margin: -25px 0 0 ;
			padding: 5px;
			text-align: center;
			background: white;
			width: 210px;
			opacity: .75;
			font-weight: bold;
			line-height: 10px;
			font-size: 12px;
		}
		
		ul.submenu {
			margin-left: 10px;
			list-style: none;
			margin-top: 0px;
		}
		
		ul.indent {
			margin-left: 40px;
		}
		
		#content ul.submenu li {
			list-style: none;
			margin-bottom: 0 !important;
		}
		
		div.contact {
			padding-top: 10px;
		}
		
		div.contact, div.page-event-listing {
			background: #f0f0f0;
			border: solid 1px #e0e0e0;
		}
		
		div#contactFormContainer {
			display: none;
		}
		
		.sitemap span.parent-section {
			color: #999999 !important;
		}
		
#page .service-menu  {
  padding:15px 20px;
  width: 658px;
  margin:8px auto;
}

#page .service-menu ul {
	width: 434px; 
	margin: 0 auto;
}

#page .service-menu  li { list-style:none; float:left; margin-bottom: -1px;}
#page .service-menu  ul a {
  display:block;
  padding:6px 10px;
  text-decoration:none!important;
  margin:1px;
  margin-left:0;
  font:10px Verdana;
  color:#FFF;
  background:#999999;
  border-bottom: solid 1px #999999;
}

#page .service-menu  ul a:hover {
  background: #348FA8;
  }
  
#page .service-menu  ul a.selected {
  margin-bottom:0;
  color:#000;
	background: #f0f0f0;
	border-top: solid 1px #e0e0e0;
	border-left: solid 1px #e0e0e0;
	border-right: solid 1px #e0e0e0;
	border-bottom: solid 1px #f0f0f0;
  cursor:default;
  }		
  
div.calendar table tr td.active {
	background: #fa9bbc !important;
}
  
div.calendar table tr td.active a{
	color: #222222 !important;
}
  
div.calendar table tr td {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px
}
 
div.calendar table tr td a:hover {
	color: #000000 !important;
}

	#banner img {
		float: left;
	}

	a#donate, a#learn {
		background: transparent;
		width: 128px !important;
		display: block;
		text-decoration: none;
		z-index: 100;
	}
	
	#dlearn {
		height: 31px;
		float: left;
		width: 128px;
		position: relative;
		top: 148px;
		left: 378px;
	}
	
	#ddonate {
		height: 31px;
		float: left;
		background: transparent;
		width: 128px;
		position: relative;
		top: 148px;
		left: 390px;
	}

.red { color: red; }

p.center { text-align: center; }